{% extends "base.html" %}

{% block navbut %}
<div class="d-flex align-middle justify-content-center gap-3">
    <a href="/dash">
        <img src="/static/img/chart.png" class="img-fluid rounded-circle" alt="Go to /dash"
             height="30px"
             width="30px">
    </a>
    <a href="/map">
        <img src="/static/img/map.png" class="img-fluid rounded-circle" alt="Go to /map"
             height="30px"
             width="30px">
    </a>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
 <h1>made by alex m</h1>
</div>
{% endblock %}